# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dbmdl
*.backup
*.sln.ide/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
.idea/

# Dependências
packages/
node_modules/

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# Banco de dados
*.mdf
*.ldf

# Outros
*.swp
*.*~
Thumbs.db
